// Menu Button
.menu-btn {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 3;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 30px;
    height: 5px;
    background: #fff;
    margin-bottom: 5px;
    @include easeOut;
  }

  //Rotate into X with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-line {
      //Line 1 - Rotate
      &:first-child {
        transform: rotate(45deg) translate(7px,7px);
      }

      //Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      //Line 3 Rotate 
      &:nth-child(3) {
        transform: rotate(-45deg) translate(7px,-6px);
      }
    }
  }
}